<html>
    <body>
        <form method="post" action="{% url 'changepasswordAction' %}">
            {% csrf_token %}
        <table>
            <tr>
                <th>Old Password</th>
                <td><input type="text" name="oldpassword"></td>
            </tr>
            <tr>
                <th>New Password</th>
                <td><input type="password" name="newpassword"></td>
            </tr>
            <tr>
                <th>Confirm Password</th>
                <td><input type="password" name="confirmpassword"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Update"></td>
            </tr>
        </table>
    </form>
    </body>
</html>