<html>
    <body>
        <form method="post" action="{% url 'updatepasswordAction' %}">
            {% csrf_token %}
        <table>
            <input type="hidden" name="username" value="{{data}}">
            <tr>
                <th>New Password</th>
                <td><input type="password" name="newpassword"></td>
            </tr>
            <tr>
                <th>Confirm Password</th>
                <td><input type="password" name="confirmpassword"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Confirm"></td>
            </tr>
        </table>
    </form>
    </body>
</html>