<html>
    <body>
        <form method="post" action="{% url 'trackingAction' %}">
            {% csrf_token %}
        <table>
            {% for v in de %}
            <tr>
                <td><input type="hidden" name="id" value="{{v.id}}"></td>
                <td>Tracking Details</td>
                <td><textarea name="details" cols="16" rows="5"></textarea></td>
                <td></td>
                <td><input type="submit" value="Upload"></td>
            </tr>
            {% endfor %}
        </table>
    </form>
    </body>
</html>